
# Ignore the virtual environment
.venv/

# Ignore the answerkey
Fundamentals/Exercises/Exercise_10_Answer.py

# Ignore secrets files
.env

# Ignore personal VS Code settings, but keep shared launch configs
.vscode/settings.json

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore macOS metadata
.DS_Store

# Ignore in-process files
Python_QA_Framework/tests/json_data/Trello_data_extraction.py